<div class="jumbotron">
  <h1>DICOMcloud Converter</h1>
  <p class="lead">Convert DICOM files into JSON, XML, JPEG image or to other DICOM transfer-syntax</p>
</div>
<div class="row">
  <form name="form1" method="post" enctype="multipart/form-data" action="~/api/dicom/">
    @*<div>
      <label for="caption">DICOM file:</label>
      <input name="caption" type="text" />
    </div>
    <div>
      <label for="image1">Image File</label>
      <input name="image1" type="file" />
    </div>*@
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="dicomFile" id="dicomFile" multiple>
      <label class="custom-file-label" for="customFile">Choose a DICOM file</label>
    </div>
    <div class="form-check form-check-inline">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" checked name="format" id="jsonFormat" value="json">
        <label class="form-check-label" for="inlineRadio1">json</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="format" id="xmlFormat" value="xml">
        <label class="form-check-label" for="inlineRadio2">xml</label>
      </div>
      @*<div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="format" id="jpgFormat" value="jpg">
        <label class="form-check-label" for="inlineRadio2">jpg</label>
      </div>*@
    </div>
    <div style="margin-top:10px">
      <input type="submit" value="Convert" />
    </div>
  </form>
</div>

@section scripts{
  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
}